<button class="bg-warning" [routerLink]="['/']">Volver</button>

<app-empleado-seleccionado></app-empleado-seleccionado>

<div class="formu-container">
    <h2>Registrar Incidencia Veterinaria</h2>
    <!--Asocio el formulario HTML con el FormGroup del componente-->
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()"> <!--llamo al enviar formulario-->
        <div class="formu-apartado">
            <label>Enfermedad:</label>
            <input formControlName="enfermedad" required />
            <!--Conecto los campos con el campo del FormGroup-->
            <div *ngIf="eventForm.get('enfermedad')?.invalid && eventForm.get('enfermedad')?.touched"
                class="text-danger">
                <!--La ? es de TypeScript y evita error de atributos que podrianser null o undefined-->
                el nombre de la enfermedad es requerida
            </div>
        </div>

        <div class="formu-apartado">
            <label>Animal:</label>
            <input type="text" formControlName="animal" />
            <div *ngIf="eventForm.get('animal')?.invalid && eventForm.get('animal')?.touched" class="text-danger">
                <!--La ? es de TypeScript y evita error de atributos que podrianser null o undefined-->
                la raza de animal es requerida
            </div>
        </div>

        <div class="formu-apartado">
            <label>Categoría:</label>
            <!--Conecto los campos con el campo del FormGroup, en este caso solo en el select 
            y luego los value en el option-->
            <select formControlName="categoria">
                <option value="leve">Leve</option>
                <option value="moderada">Moderada</option>
                <option value="grave">Grave</option>
            </select>
        </div>

        <div class="formu-apartado">
            <label>Empleado:</label>
            <!--LE PASO UN TIPO EVENT, QUE NO ES EVENTO DE LA PAGINA-->
            <select formControlName="empleado" (change)="empleadoSeleccionado($event)">

                <option *ngFor="let empleado of empleados" value="{{empleado.id}}">{{empleado.nombre.toUpperCase()}}
                </option>

            </select>
            <div *ngIf="eventForm.get('empleado')?.invalid && eventForm.get('empleado')?.touched" class="text-danger">
                <!--La ? es de TypeScript y evita error de atributos que podrianser null o undefined-->
                el empleado que le atienda es requerido
            </div>
        </div>

        <div class="formu-apartado">
            <label>Cliente:</label>
            <input formControlName="cliente" />
            <div *ngIf="eventForm.get('cliente')?.invalid && eventForm.get('cliente')?.touched" class="text-danger">
                <!--La ? es de TypeScript y evita error de atributos que podrianser null o undefined-->
                El cliente es requerido
            </div>
        </div>

        <div class="formu-apartado">
            <label>Fecha:</label>
            <input type="text" formControlName="fecha" placeholder="DD-MM-YY" bsDatepicker [bsConfig]="bsConfig" />
            <div *ngIf="eventForm.get('fecha')?.invalid && eventForm.get('fecha')?.touched" class="text-danger">
                <!--La ? es de TypeScript y evita error de atributos que podrianser null o undefined-->
                la fecha del suceso es requerida
            </div>
        </div>

        <button type="submit">Registrar Evento</button>
        <!--No olvidar el type=submit para que active el ngSubmit-->
    </form>
</div>