<button class="bg-warning" [routerLink]="['/']">Volver</button>

<div class="formu-container">
    <h2>Registrar Incidencia Veterinaria</h2>
    <!--Asocio el formulario HTML con el FormGroup del componente-->
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()"> <!--llamo al enviar formulario-->
        <div class="formu-apartado">
            <label>Enfermedad:</label>
            <input formControlName="enfermedad" required />
            <!--Conecto los campos con el campo del FormGroup-->
        </div>

        <div class="formu-apartado">
            <label>Animal:</label>
            <input type="text" formControlName="animal"/>
        </div>

        <div class="formu-apartado">
            <label>Categoría:</label>
            <!--Conecto los campos con el campo del FormGroup, en este caso solo en el select 
            y luego los value en el option-->
            <select formControlName="categoria">
                <option value="log">Log</option>
                <option value="warn">Warning</option>
                <option value="error">Error</option>
            </select>
        </div>

        <div class="formu-apartado">
            <label>Empleado:</label>
            <select formControlName="empleado">

                <option *ngFor="let empleado of empleados" value="{{empleado.id}}">{{empleado.nombre.toUpperCase()}} </option>
                  
            </select>
        </div>

        <div class="formu-apartado">
            <label>Cliente:</label>
            <input formControlName="cliente" />
        </div>

        <div class="formu-apartado">
            <label>Fecha:</label>
            <input type="date" formControlName="fecha" />
        </div>

        <button type="submit">Registrar Evento</button>
        <!--No olvidar el type=submit para que active el ngSubmit-->
    </form>
</div>