  <button class="bg-warning" [routerLink]="['/']">Volver</button>
<br>
<label class="m-2 mt-4">Filtrar por categoría:</label>
<select [(ngModel)]="selectedCategory" (change)="filtradoCategoria(selectedCategory)">
  <option >Todas</option>
  <option value="log">Log</option>
  <option value="warn">Warning</option>
  <option value="error">Error</option>
</select>

<ul>
  <li *ngFor="let event of events">
    {{ event.enfermedad.toUpperCase() }} - {{ event.animal.toUpperCase() }} - {{ event.categoria.toUpperCase() }} - {{ event.fechaCreacion| date }} - {{ event.cliente}} 
  </li>
</ul>