label {
    font-size: 15px;
    font-weight: bold;
}

select:focus {
    border-color: #f80404;
    outline: none;
    box-shadow: 0 0 8px rgba(44, 107, 79, 0.5);
}

button {
    background-color: #2c6b4f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}