<button class="bg-warning" [routerLink]="['/']">Volver</button>
<br>
<label class="m-2 mt-4">Filtrar por categoría:</label>
<select [(ngModel)]="selectedCategory" (change)="filtradoCategoria(selectedCategory)">
  <option value="">Todas</option>
  <option value="leve">Leve</option>
  <option value="moderada">Moderada</option>
  <option value="grave">Grave</option>
</select>

<div class="d-flex justify-content-end mr-4">
  <p class="mr-4 text-primary fs-4"><i class="bi bi-bandaid-fill"><span class="ml-1">{{eventsCount.leve}}</span></i></p>
  <!--Conteo-->
  <p class="mr-4 text-warning fs-4"><i class="bi bi-exclamation-triangle-fill"><span
        class="ml-2">{{eventsCount.moderada}}</span></i></p>
  <!--Conteo-->
  <p class="mr-4 text-danger fs-4"><i class="bi bi-clipboard2-pulse-fill"><span
        class="ml-1">{{eventsCount.grave}}</span></i></p> <!--Conteo-->
</div>

<table class="container mt-5 mx-auto bg-white p-3">
  <thead>
    <th>Enfermedad</th>
    <th>Animal</th>
    <th>Empleado Encargado</th>
    <th>Cliente</th>
    <th>Categoría</th>
    <th>Accion</th>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.enfermedad.toUpperCase() }}</td>
      <td>{{ event.animal.toUpperCase() }}</td>
      <td>{{ event.empleado.nombre }}</td>
      <td>{{ event.cliente }}</td>
      <td>
        <span [ngClass]="event.categoria"> <!--Simplemente para aplicarle color por categoria en el CSS-->
          {{ event.categoria.toUpperCase() }}
        </span>
      </td>
      <td> <button class="btn btn-danger" (click)="borradoEvento(event.id)">Borrado</button></td>
    </tr>
  </tbody>

</table>